:root {
    --night: #1f1523;
    --hover: #382d3d;
    --eggplant: #4C2B36;
    --light-eggplant: #dcb7c4;
    --misty-rose: #f6ecec;
    --fairy-tale: #E3BAC6;
    --baby-powder: #FFFFFA;

    --main-blue: #497DDF;
    --dark-blue: #0C2046;
    --hover-blue: #d8e3f8;
    --shadow: #eff4fb;
    --border-sections: #e0dede;


    --default-font: 'Candara'; 
  }
  